#content2{
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	text-align: center;
	padding: 50px 0;
}

#game1{
	position: absolute;
	left: 50px;
	top: 325px;
	text-align: center;
    overflow: hidden;
	width: 400px;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

#game2{
	margin: auto;
	text-align: center;
    overflow: hidden;
	width: 400px;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

#game3{
	position: absolute;
	right: 50px;
	top: 325px;
	text-align: center;
    overflow: hidden;
	width: 400px;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

#content2 > a:first-child > div{
	margin-top: 20px;
}

.home {
	position: absolute;
	left: 50px;
	bottom: 50px;
}

#content2 > a{
    padding: 10px;
	text-decoration: none;	
}

#content2 > a:hover > div{
	opacity: 0.5;
}

#content2 > a > div > img{
	width: 398px;
	border: 1px solid #eeeeee;
	margin-bottom: 5px; 
}

#content2 > a > div > div{
	color: #000000;
	font-size: 20px;
	line-height: 22px;
	text-align: left;
	width: 100%;
}

#content2 > a > div > div > span{
	color: #919191;
}

#mc_signup_thing_text{
	font-size: 44px;
}

@media (max-width: 800px){
	#mc_signup_thing{
		margin-left: 20px;
		margin-right: 20px;
	}
	#mc_signup_thing_text{
		font-size: 42px;
	}
}