<!DOCTYPE html>
<html lang="pt">

<head>
	<title>Jogos</title>
	<meta charset="utf-8">
	<link rel="icon" type="image/png" href="favicon.png"/>
	<link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/games.css"/>
	<link rel="stylesheet" href="../css/w3.css"/>
</head>

<body>
	<div id="header">
        <div id="nav">
	        <span id="nav_names">A tradução pt-PT no mundo dos jogos</span>
			<span id="nav_buttons">
	            <span style="color:#ffffff">Jogos</span> |
				<a class="navlink" href="https://ncase.me/">Nicky Case</a> |
				<a class="navlink" href="../files/Relatório «A tradução pt-PT no mundo dos jogos».pdf">Relatório</a> |
	            <a class="navlink" href="http://sites.google.com/view/pigamux">PigamuX</a> |
				<a class="navlink" href="https://forms.gle/KhvCHGmgtqmStvyC9">Feedback</a>
	        </span>
	    </div>
	</div>

    <div id="content2">
        <div id="block1">O que vai querer jogar?</div>
		<a href="game1.html">
            <div id="game1">
                <img src="../img/trust.png"/>
                <div>A Evolução da Confiança <span>– um guia interativo para a teoria dos jogos do porquê e como confiamos uns nos outros</span></div>
            </div>
        </a>
		<a href="game2.html">
            <div id="game2">
                <img src="../img/awa.png"/>
                <div>Aventuras com Ansiedade <span>– uma história interativa entre um humano e a sua ansiedade</span></div>
            </div>
        </a> 
        <a href="game3.html">
            <div id="game3">
                <img src="../img/fireflies.png"/>
                <div>Pirilampos <span>– uma pequena simulação de pequenos pirilampos</span></div>
            </div>
        </a>
    </div>
	<div class="home">
        <a href="../index.html">
            <button class="w3-button w3-black w3-round-large">Voltar</button>
        </a>
    </div>
</body>
</html>