<!DOCTYPE html>
<html lang="pt">

<head>
	<title>A Evolução da Confiança</title>
	<meta charset="utf-8">
	<link rel="icon" type="image/png" href="favicon.png"/>
	<link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/game.css"/>
	<link rel="stylesheet" href="../css/w3.css"/>
</head>

<body>
    <div id="header">
        <div id="nav">
	        <span id="nav_names">A tradução pt-PT no mundo dos jogos</span>
			<span id="nav_buttons">
	            <a class="navlink" href="../components/games.html">Jogos</a> |
				<a class="navlink" href="https://ncase.me/">Nicky Case</a> |
				<a class="navlink" href="../files/Relatório «A tradução pt-PT no mundo dos jogos».pdf">Relatório</a> |
	            <a class="navlink" href="http://sites.google.com/view/pigamux">PigamuX</a> |
				<a class="navlink" href="https://forms.gle/KhvCHGmgtqmStvyC9">Feedback</a>
	        </span>
	    </div>
	</div>
	
	<div id="content3">
        <img style="padding-top:20px" src="../img/trust.png"/ width="30%">
        <div id="block1" style="padding-top:5px">A Evolução da Confiança</div>
		<div id="block3">
			O jogo «A Evolução da Confiança» é um pequeno simulador onde o utilizador analisa como a confiança dos indivíduos de uma dada população evolui, a partir de um evento peculiar durante a Primeira Guerra Mundial, e como a teoria dos jogos aborda essa evolução.
			<br>
			Este jogo foi inteiramente traduzido por Luís Costa. Para jogar o original, desenvolvido por Nicky Case, clique <a href="https://ncase.me/trust" title="Jogo original">aqui</a>.
		</div>
		<iframe width="1067" height="600" src="https://luisandrecosta.github.io" title="A Evolução da Confiança" frameborder="0" allowfullscreen></iframe>
		<div id="block4">Espaço para tradutores e/ou desenvolvedores</div>
		<div id="block3">Aqui encontra material que o grupo desenvolveu para auxiliar potenciais futuros tradutores de outras publicações de Nicky Case, bem como o código-fonte do jogo traduzido.</div>
        <a href="../games/edc/aEvolucaoDaConfianca.zip">
            <button class="w3-button w3-black w3-round-large">Código-fonte</button>
        </a>
        <a href="../games/edc/TheEvolutionOfTrust.tmx">
            <button class="w3-button w3-black w3-round-large">TMX</button>
        </a>
        <a href="../games/edc/Glossário «A Evolução da Confiança».pdf">   
            <button class="w3-button w3-black w3-round-large">Glossário</button>
        </a>
		<a href="../games/edc/aEvolucaoDaConfianca.xml">
            <button class="w3-button w3-black w3-round-large">XML</button>
        </a>
        <a href="../games/edc/aEvolucaoDaConfianca.dtd">
            <button class="w3-button w3-black w3-round-large">DTD</button>
        </a>
    </div>
    <div class="home">
        <a href="games.html">
           <button class="w3-button w3-black w3-round-large">Voltar</button>
        </a>
    </div>
    </body>
</html>